<div ondragover="event.preventDefault();"
     draggable="true"
     @ondragstart="@OnDragStart"
     @ondrop="@OnDrop">
    @if (Item is not null && IsInList)
    {
        <div class="inventory-list-item">
            <img src="@($"data:image/png;base64,{Item.ImageBase64}")" alt="@Item.DisplayName" />
            <div class="item-name">@Item.DisplayName</div>
        </div>
    }
    @if (InventoryModel is not null && IsInInventory)
    {
        <div class="inventory-grid-item">
            @if (InventoryModel.NumberItem > 0)
            {
                <div class="slot-image">
                    <img src="@($"data:image/png;base64,{InventoryModel.ImageBase64}")" alt="@InventoryModel.ItemName" />
                </div>
                <div class="slot-count">@InventoryModel.NumberItem</div>
            }
        </div>
    }
</div>
