@page "/list"
@using Models

<h3>List</h3>

<div>
    <NavLink class="btn btn-primary" href="add" Match="NavLinkMatch.All">
        <i class="fa fa-plus"></i> Add
    </NavLink>
</div>

@if (items != null)
{
    <DataGrid TItem="Item"
          Data="@items"
          PageSize="10"
          ReadData="@OnReadData"
          TotalItems="@totalItems"
          ShowPager
          Responsive>

        <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="#" />
        <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="Image">
            <DisplayTemplate>
                @if (File.Exists($"{WebHostEnvironment.WebRootPath}/images/{context.Name}.png"))
                {
                    <img src="images/@(context.Name).png" class="img-thumbnail" title="@context.DisplayName" alt="@context.DisplayName" style="max-width: 150px" />
                }
                else
                {
                    <img src="images/default.png" class="img-thumbnail" title="@context.DisplayName" alt="@context.DisplayName" style="max-width: 150px" />
                }
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Item" Field="@nameof(Item.DisplayName)" Caption="Displayed name" />
        <DataGridColumn TItem="Item" Field="@nameof(Item.StackSize)" Caption="Stack size" />
        <DataGridColumn TItem="Item" Field="@nameof(Item.MaxDurability)" Caption="Max durability" />
        <DataGridColumn TItem="Item" Field="@nameof(Item.EnchantCategories)" Caption="Enchant categories">
            <DisplayTemplate>
                @(string.Join(", ", ((Item)context).EnchantCategories))
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Item" Field="@nameof(Item.RepairWith)" Caption="Repair with">
            <DisplayTemplate>
                @(string.Join(", ", ((Item)context).RepairWith))
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Item"
                    Field="@nameof(Item.CreatedDate)"
                    Caption="Created on"
                    DisplayFormat="{0:d}"
                    DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" />
        <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="Action">
            <DisplayTemplate>
                <a href="edit/@(context.Id)" class="btn btn-primary">
                    <i class="fa fa-edit" /> Editer
                </a>
            </DisplayTemplate>
        </DataGridColumn>
    </DataGrid>
}

